<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SEC2ON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <SEC2ON.Properties.Settings>
            <setting name="dropboxAppKey" serializeAs="String">
                <value>j93h8yfahdiudog</value>
            </setting>
            <setting name="dropboxAppSecret" serializeAs="String">
                <value>replaceWithYourCredentials</value>
            </setting>
            <setting name="dropboxRedirectUrl" serializeAs="String">
                <value>https://localhost/authorize</value>
            </setting>
        </SEC2ON.Properties.Settings>
    </userSettings>
</configuration>
